{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Заказы</title>
{% endblock %}

{% block content %}
<div class="main">
  <p class="main_p">Сейчас в корзине</p>
  <div class="main_content">
    {% for dish in dishes %}
      <div class="main_content_card">
        <img class="main_content_img" src="{{ dish.image.url }}" alt="card">
        <div class="main_content_text">
          <p>Название: {{ dish.title }}</p>
          <p>Цена: <h id="ID1-{{ dish.id }}">{{ dish.price }}</h> рублей</p>
          <p>Каллории: {{ dish.calories }} Ккал</p>
          <p>Категория: {{ dish.category.title }}</p>
          {% if dish.allergens.all %}
            <p>Аллергены: </p>
            {% for allergen in dish.allergens.all %}
              <p>{{ allergen.title }}</p>
            {% endfor %}
          {% else %}
            <p>Аллергены: Нет</p>
          {% endif %}
          <p>Количество: <h id="ID2-{{ dish.id }}">0</h></p>
        </div>
      </div>
    {% endfor %}
  </div>
  <p class="main_p sum">Общая сумма: <h id="total">0</h> рублей</p>
  <div class="main_button_order">
    <form method="post">
      {% csrf_token %}
      <button type="sumbit" class="main_make_order" id="make_order">Сделать заказ</button>
    <form >
  </div>
  <p class="main_p">История заказов</p>
  <div class="main_all_orders">
    {% for order in orders %}
      <div class="main_show_order">
        <p>Номер заказа #{{ order.id }}</p>
        <p>Заказан {{ order.created|date:'Y-m-d H:i' }}</p>
      </div>
    {% endfor %}
  </div>
</div>

<script>
  // Функция получения куки по ключу
  const getCookie = (name) => {
    return document.cookie.split('; ').reduce((r, v) => {
      const parts = v.split('=')
      return parts[0] === name ? decodeURIComponent(parts[1]) : r
    }, '')
  }

  // Функция создания UUID
  const uuidv4 = () => {
    return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
      (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
    )
  }

  // Проверка UUID девайса в куки и его создание
  if (!getCookie('device')) { document.cookie = `device=${uuidv4()}`}

  // Основные параметры
  let cookie_order = getCookie('order')
  let list_card = document.querySelectorAll('.main_content_card')
  let order_button = document.querySelector('.main_make_order')
  let total = 0

  // Установка значений количества порций и суммы
  if (cookie_order) {
    let dict_order = JSON.parse(cookie_order)
    for (let [dish_id, count] of Object.entries(dict_order)) {
      document.querySelector(`#ID2-${dish_id}`).innerHTML = count
      total += Number(document.querySelector(`#ID1-${dish_id}`).innerHTML) * Number(count)
    }
    document.querySelector('#total').innerHTML = total
  }
</script>
{% endblock %}